{
  "swagger" : "2.0",
  "info" : {
    "description" : "Webshop services connect Webshop applications to ERP system. The entry point of Webshop API is `/customers/{companyName}/{customerNr}`, which is called by Webshop application whenever a user logs in. If the customer requestedOrderPosition by its number could be found, the response contains a `_links` section, which contains all possible navigations and actions the customer can take.",
    "version" : "2.0-draftAv",
    "title" : "Webshop Service API",
    "license" : {
      "name" : "SAG Services License",
      "url" : "http://business.sag.services/TO-BE-DEFINED"
    }
  },
  "host" : "business.sag.services",
  "basePath" : "/apps/prod-webshop-service-app/webshop-service",
  "tags" : [ {
    "name" : "customer",
    "description" : "The customer related service endpoints."
  }, {
    "name" : "article",
    "description" : "The article related service endpoints."
  }, {
    "name" : "order",
    "description" : "The order related service endpoints."
  }, {
    "name" : "util",
    "description" : "The service endpoints of technical support."
  }, {
    "name" : "employee",
    "description" : "The employee related service endpoints."
  }, {
    "name" : "branches",
    "description" : "The warehouse related service endpoints."
  }, {
    "name" : "electronic delivery notes",
    "description" : "The electonic delivery notes related service endpoints."
  }, {
    "name" : "invoices",
    "description" : "The invoice related service endpoints."
  }, {
    "name" : "offer",
    "description" : "The offer related service endpoints."
  }, {
    "name" : "return",
    "description" : "Service endpoints related to return entities"
  } ],
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths": {
    "/customers/{company}/{customerNr}": {
      "get": {
        "tags": [ "customer" ],
        "description": "Retrieves customer representation by customer number.",
        "operationId": "getCustomerByNr",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium", "Cross-Company-Austria", "Cross-Company-Switzerland" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response if customer with the given number could be retreived in the context of the company.",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status."
          },
          "404": {
            "description": "If customer with given number does not exist, the service responds with a 404 (NotFound) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/customers/{company}/{customerNr}/creditlimit": {
      "get": {
        "tags": [ "customer" ],
        "description": "Retrieves creditlimit of given customer.",
        "operationId": "getCreditLimit",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response if credit limit of customer with the given number could be retreived in the context of the company.",
            "schema": {
              "$ref": "#/definitions/CreditLimit"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status."
          },
          "404": {
            "description": "If customer with given number does not exist, the service responds with a 404 (NotFound) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/customers/{company}/{customerNr}/addresses": {
      "get": {
        "tags": [ "customer" ],
        "description": "Retrieves invoice and delivery addresses of the customer.",
        "operationId": "getAddressesOfCustomer",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Number of the customer resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "street",
            "in": "query",
            "description": "Address street",
            "required": false,
            "type": "string"
          },
          {
            "name": "postCode",
            "in": "query",
            "description": "Address post code",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Address city",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Address country code",
            "required": false,
            "type": "string"
          },
          {
            "name": "buildingCompliment",
            "in": "query",
            "description": "Address building compliment",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Address description",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the list of addresses of the customer",
            "schema": {
              "$ref": "#/definitions/Addresses"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the customer has no addresses or customer does not exist, endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/customers/{company}/{customerNr}/addresses/{addressId}": {
      "get": {
        "tags": [ "customer" ],
        "description": "Retrieves particular address by its id.",
        "operationId": "getAddressById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Number of the customer resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested addresses.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status."
          },
          "404": {
            "description": "If customer or address does not exist for given company, the request responds a 404 (NotFound) status. ",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/customers/{company}/{customerNr}/courierServices/{addressId}": {
      "get": {
        "tags": [ "customer" ],
        "description": "Retrieves courier services",
        "operationId": "getCourierServices",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Number of the customer resource.",
            "required": false,
            "type": "string"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The id of the address resource.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested courier services.",
            "schema": {
              "$ref": "#/definitions/CourierServices"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status."
          },
          "404": {
            "description": "If customer or address does not exist for given company, the request responds a 404 (NotFound) status. ",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/articles/{company}": {
      "get": {
        "tags": [ "article" ],
        "description": "Retrieves representation of a list of articles, which are given by their ids.",
        "operationId": "getArticles",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleIds",
            "in": "query",
            "description": "Query parameter containing comma-separated list of identifiers of articles. The article identifiers must be positive integer values consisting of max 10 digits.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides a list of article representations.",
            "schema": {
              "$ref": "#/definitions/ArticleInfoResponse"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the list of article identifier is empty, or any article identifier does not conform to the identified rules, then the service responds with a 400 (Bad Request) status."
          }
        }
      }
    },
    "/articles/{company}/{articleId}": {
      "get": {
        "tags": [ "article" ],
        "description": "Retrieves representation of an article which is given by its id.",
        "operationId": "getArticleById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "Path parameter of id of requested article.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested article information.",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the article with given id does not exist, the service responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/articles/{company}/stocks": {
      "get": {
        "tags": [ "article" ],
        "description": "Retrieves representation of a list of article stocks, which are given by their ids.",
        "operationId": "getArticleStocks",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleIds",
            "in": "query",
            "description": "Query parameter containing comma-separated list of identifiers of articles. The article identifiers must be positive integer values consisting of max 10 digits.",
            "required": true,
            "type": "string"
          },
          {
            "name": "branchId",
            "in": "query",
            "description": "Query parameter containing identifier of a branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides a list of article stocks representations.",
            "schema": {
              "$ref": "#/definitions/ArticleStockResponse"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the list of article identifier is empty, or any article identifier does not conform to the identified rules, then the service responds with a 400 (Bad Request) status."
          }
        }
      }
    },
    "/articles/{company}/stocks/articleIds": {
      "get": {
        "tags": [ "article" ],
        "description": "Retrieves representation of a list of article stocks, which are given by their ids.",
        "operationId": "getArticlesStocks",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleIds",
            "in": "query",
            "description": "Query parameter containing comma-separated list of identifiers of articles. The article identifiers must be positive integer values consisting of max 10 digits.",
            "required": true,
            "type": "string"
          },
          {
            "name": "branchId",
            "in": "query",
            "description": "Query parameter containing identifier of a branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides a list of article stocks representations.",
            "schema": {
              "$ref": "#/definitions/ArticleStockResponse"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the list of article identifier is empty, or any article identifier does not conform to the identified rules, then the service responds with a 400 (Bad Request) status.            "
          }
        }
      }
    },
    "/articles/{company}/stocks/sum": {
      "get": {
        "tags": [ "article" ],
        "description": "Retrieves representation of a list of articles sum of stocks for the requested country, which are given by their ids.",
        "operationId": "getArticleStocksSum",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleIds",
            "in": "query",
            "description": "Query parameter containing comma-separated list of identifiers of articles. The article identifiers must be positive integer values consisting of max 10 digits.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides a list of article stocks sum representations.",
            "schema": {
              "$ref": "#/definitions/ArticleStockSumResponse"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the list of article identifier is empty, or any article identifier does not conform to the identified rules, then the service responds with a 400 (Bad Request) status.            "
          }
        }
      }
    },
    "/articles/{company}/{articleId}/stock": {
      "get": {
        "tags": [ "article" ],
        "description": "Retrieves the quantity on stock of a certain article which is given by its id.",
        "operationId": "getArticleStockById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "Path parameter of id of requested article.",
            "required": true,
            "type": "string"
          },
          {
            "name": "branchId",
            "in": "query",
            "description": "Query parameter containing identifier of a branch.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the quantity on stock.",
            "schema": {
              "type": "number",
              "format": "double",
              "description": "The currently available quantity of requested article."
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the article with given id does not exist, the service responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/articles/{company}/prices": {
      "post": {
        "tags": [ "article" ],
        "description": "Requests prices of a list of articles from ERP system.",
        "operationId": "getArticlePrices",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "priceRequest",
            "description": "The request contains a list of items, which contain articles with quantities.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PriceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Prices"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object."
          }
        }
      }
    },
    "/articles/{company}/availabilities": {
      "post": {
        "tags": [ "article" ],
        "description": "Requests availabilities of a list of articles from ERP system.",
        "operationId": "getAvailabilities",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "availabilityRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Availabilities"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object."
          }
        }
      }
    },
    "/articles/{company}/{vendorId}/stocks": {
      "post": {
        "tags": [ "article" ],
        "description": "Requests stock information for a list of articles from SAG vendors",
        "operationId": "getVendorStocks",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "The vendorID to which the request will be sent",
            "required": true,
            "type": "string",
            "enum": [ "63393", "1457617", "58484", "63103", "858888", "859067" ]
          },
          {
            "in": "body",
            "name": "vendorStockRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorStockRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VendorStocks"
            }
          },
          "400": {
            "description": "If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds  with a detailled description of violated rules instead of an ErrorInfo object."
          }
        }
      }
    },
    "/articles/{company}/vendors": {
      "get": {
        "tags": [ "article" ],
        "description": "Requests vendor information for a list of articles",
        "operationId": "getArticleVendors",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "articleIds",
            "in": "query",
            "description": "Query parameter containing a list of identifiers of comma-seperated articles ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ArticleVendors"
            }
          },
          "400": {
            "description": "If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds  with a detailled description of violated rules instead of an ErrorInfo object."
          }
        }
      }
    },
    "/baskets/{company}": {
      "post": {
        "tags": [ "order" ],
        "description": "Requests forwarding of (new) order to ERP system, so that it can be manually post-processed by ERP users.",
        "operationId": "createShoppingBasket",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "orderRequest",
            "description": "The request containing the shopping basket for which an order is expected to be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "If provided shopping basket passes business validation rules and ERP ensures fulfillment the order based on basket, the response will be 200 (OK).",
            "schema": {
              "$ref": "#/definitions/OrderConfirmation"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/baskets/{company}/history": {
      "get": {
        "tags": [ "order" ],
        "description": "Retrieves basket history information",
        "operationId": "getBasketHistory",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerRefText",
            "in": "query",
            "description": "Reference text for the header of the order which will be used in all documents e.g. invoice.",
            "required": false,
            "type": "string",
            "maxLength": 60
          },
          {
            "name": "orderNr",
            "in": "query",
            "description": "The number of the requested order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the history of the basket results in an HTTP status of 200 (OK). ",
            "schema": {
              "$ref": "#/definitions/BasketHistory"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}": {
      "post": {
        "tags": [ "order" ],
        "description": "Requests transfer of new shopping basket to the ERP system. The ERP system asynchronously creates orders based on the shopping basket, but service call immediately returns when shopping basket could be transfered.        ",
        "operationId": "createOrder",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "orderRequest",
            "description": "The request containing the order to be forwarded.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful transfer of order results in Accepted status code.",
            "schema": {
              "$ref": "#/definitions/OrderConfirmation"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/process-status": {
      "post": {
        "tags": [ "order" ],
        "description": "Requests change of the sales order process status.      ",
        "operationId": "changeOrderProcessStatus",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "orderProcessStatus",
            "description": "The request containing the order to to have its status changed.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderProcessStatus"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful transfer of order results in Accepted status code.",
            "schema": {
              "$ref": "#/definitions/OrderProcessStatusConfirmation"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/update-order": {
      "post": {
        "tags": [ "order" ],
        "description": "Requests transfer of new shopping basket to the ERP system. The ERP system asynchronously creates orders based on the shopping basket, but service call immediately returns when shopping basket could be transfered.        ",
        "operationId": "updateOrder",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "updateOrderRequest",
            "description": "The request containing the order to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update of order results in false error code",
            "schema": {
              "$ref": "#/definitions/UpdateOrderConfirmation"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/{customerNr}": {
      "get": {
        "tags": [ "order" ],
        "description": "Retrieves representation of a list of orders for a customer.",
        "operationId": "getOrdersOfCustomer",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderNr",
            "in": "query",
            "description": "The number of the requested order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start date of range for order selection in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end date of range for order selection in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page to be retrieved, defaults to the first page. The page parameter should not be provided explicitly, but the usage of `next` and `prev` links of the response is recommended.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the orders of the customer results in an HTTP status of 200 (OK). ",
            "schema": {
              "$ref": "#/definitions/Orders"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the customer has no orders or customer does not exist, endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/{customerNr}/{orderNr}/positions": {
      "get": {
        "tags": [ "order" ],
        "description": "Retrieves the representation of a list of positions for an order given by its number.",
        "operationId": "getOrderPositions",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderNr",
            "in": "path",
            "description": "The number of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page to be retrieved, defaults to the first page. The page parameter should not be provided explicitly, but the usage of `next` and `prev` links of the response is recommended.           ",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the entire list of positions of given order.",
            "schema": {
              "$ref": "#/definitions/OrderPositions"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the order given by its number does not exist, the service endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/{customerNr}/{orderNr}/positions/{sequence}": {
      "get": {
        "tags": [ "order" ],
        "description": "Retrieves the representation of a particular order position, which is given by the number of the order and the sequence number of the position.",
        "operationId": "getOrderPosition",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderNr",
            "in": "path",
            "description": "The number of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sequence",
            "in": "path",
            "description": "the id of the position",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Succesful response returns the representation of the position specified by the parameters.",
            "schema": {
              "$ref": "#/definitions/OrderPosition"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the order position referenced by number of order and sequence number does not exist, the service endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/{customerNr}/{deliveryNoteNr}/pdf": {
      "get": {
        "tags": [ "order" ],
        "description": "Retrieves url that points to the pdf of the given deliveryNote nr.",
        "operationId": "getDeliveryNotePdf",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Path parameter of the number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliveryNoteNr",
            "in": "path",
            "description": "Path parameter of nr of requested deliveryNote.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested url.",
            "schema": {
              "$ref": "#/definitions/UrlEntry"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the deliveryNote with given nr does not exist, the service responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/orders/{company}/create-return-order": {
      "post": {
        "tags": [ "return" ],
        "description": "Provides functionality to create a return order and post it.",
        "operationId": "createReturnOrder",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "returnOrderRequest",
            "description": "The request containing the return order to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReturnOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful transfer of return order results",
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/transactions/{company}": {
      "get": {
        "tags": [ "return" ],
        "description": "Retrieves the representation of a list of transaction references for a given parameter",
        "operationId": "getTransactionReferences",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "reference",
            "in": "query",
            "description": "The value of this parameter can refer to orderNr or deliveryNoteNr or invoiceNr or transaction Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the entire list of transaction references for given search criteria",
            "schema": {
              "$ref": "#/definitions/TransactionReferences"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the transaction references given by the search criteria do not exist, the service endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/employees/{company}": {
      "get": {
        "tags": [ "employee" ],
        "description": "Retrieves employee representation.",
        "operationId": "getEmployees",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "searchName",
            "in": "query",
            "description": "The search name of the employee.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the employee.",
            "required": false,
            "type": "string"
          },
          {
            "name": "telephoneNr",
            "in": "query",
            "description": "The telephone number of the employee.",
            "required": false,
            "type": "string"
          },
          {
            "name": "emailAddress",
            "in": "query",
            "description": "The email address number of the employee.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response if employee could be retreived in the context of the company.",
            "schema": {
              "$ref": "#/definitions/Employees"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status."
          },
          "404": {
            "description": "If the queried employee does not exist, the service responds with a 404 (NotFound) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/employees/{company}/{personalNr}": {
      "get": {
        "tags": [ "employee" ],
        "description": "Retrieves employee representation by employee personal number.",
        "operationId": "getEmployeeByNr",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "personalNr",
            "in": "path",
            "description": "The personal number of the employee.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response if employee with the given number could be retreived in the context of the company.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status."
          },
          "404": {
            "description": "If employee with given number does not exist, the service responds with a 404 (NotFound) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/branches/{company}": {
      "get": {
        "tags": [ "branches" ],
        "description": "Retrieves warehouses information",
        "operationId": "getBranches",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response if branches could be retreived in the context of the company.",
            "schema": {
              "$ref": "#/definitions/Branches"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    //"/branches/{company}/next-working-date" : {
    //  "post" : {
    //    "tags" : [ "branches" ],
    //    "description" : "Retrieves next working day of a specific warehouse",
    //    "operationId" : "getNextWorkingDate",
    //    "produces" : [ "application/json" ],
    //    "parameters" : [ {
    //      "name" : "company",
    //      "in" : "path",
    //      "description" : "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'",
    //      "required" : true,
    //      "type" : "string",
    //      "enum" : [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
    //    }, {
    //      "in" : "body",
    //      "name" : "nextWorkingDateRequest",
    //      "required" : true,
    //      "schema" : {
    //        "$ref" : "#/definitions/NextWorkingDateRequest"
    //      }
    //    } ],
    //    "responses" : {
    //      "200" : {
    //        "description" : "Successful response if next working date could be retreived in the context of the company.",
    //        "schema" : {
    //          "$ref" : "#/definitions/NextWorkingDate"
    //        }
    //      },
    //      "400" : {
    //        "description" : "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
    //        "schema" : {
    //          "$ref" : "#/definitions/ErrorInfo"
    //        }
    //      }
    //    }
    //  }
    //},
    "/branches/{company}/{branchId}": {
      "get": {
        "tags": [ "branches" ],
        "description": "Retrieves representation of a warehouse which is given by its id.",
        "operationId": "getBranchById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "branchId",
            "in": "path",
            "description": "Path parameter of id of requested warehouse.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested warehouse information.",
            "schema": {
              "$ref": "#/definitions/Branch"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the branch with given id does not exist, the service responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/electronic-delivery-notes/{company}/{customerNr}": {
      "get": {
        "tags": [ "electronic delivery notes" ],
        "description": "Retrieves representation of a list of electronic delivery notes for a customer.  At least one query must be used, the `dateFrom`. If query parameter `dateTo` is missing then today's date is implied.",
        "operationId": "getElectronicDeliveryNotes",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Path parameter of the number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start date of range for electronic delivery notes selection in ISO 8601 format.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end date of range for electronic delivery notes selection in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the electronic delivery notes of the customer results in an HTTP status of 200 (OK)",
            "schema": {
              "$ref": "#/definitions/ElectronicDeliveryNotes"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the customer has no electronic delivery notes or customer does not exist, endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/invoices/{company}/{customerNr}/{invoiceId}": {
      "get": {
        "tags": [ "invoices" ],
        "description": "Retrieves representation of an invoice which is given by its id.",
        "operationId": "getInvoiceById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Path parameter of the number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Path parameter of id of requested invoice.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested invoice information.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the invoice with given id does not exist, the service responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/invoices/{company}/{customerNr}": {
      "get": {
        "tags": [ "invoices" ],
        "description": "Retrieves representation of a list of invoices for a customer.  At least one query must be used, and the dateFrom/dateTo parameters, should be used as a pair, with a date span of 31 days.",
        "operationId": "getInvoices",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Path parameter of the number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The start date of range for invoice selection in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The end date of range for invoice selection in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "orderNr",
            "in": "query",
            "description": "An order number of the invoice.",
            "required": false,
            "type": "string"
          },
          {
            "name": "packingSlipNr",
            "in": "query",
            "description": "A packing slip number of the invoice.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the invoices of the customer results in an HTTP status of 200 (OK)",
            "schema": {
              "$ref": "#/definitions/Invoices"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the customer has no invoices or customer does not exist, endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/invoices/{company}/{customerNr}/{invoiceNr}/pdf": {
      "get": {
        "tags": [ "invoices" ],
        "description": "Retrieves url that points to the pdf of the given invoice nr.",
        "operationId": "getInvoicePdf",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "Path parameter of the number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceNr",
            "in": "path",
            "description": "Path parameter of nr of requested invoice.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response provides the requested url.",
            "schema": {
              "$ref": "#/definitions/UrlEntry"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the invoice with given nr does not exist, the service responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/invoices/{company}/{customerNr}/{invoiceNr}/positions": {
      "get": {
        "tags": [ "invoices" ],
        "description": "Retrieves the representation of a list of positions for an invoice given by its number.",
        "operationId": "getInvoicePositions",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceNr",
            "in": "path",
            "description": "The number of the invoice.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderNr",
            "in": "query",
            "description": "An order number of the invoice.",
            "required": false,
            "type": "string"
          },
          {
            "name": "packingSlipNr",
            "in": "query",
            "description": "A packing slip number of the invoice.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page to be retrieved, defaults to the first page. The page parameter should not be provided explicitly, but the usage of `next` and `prev` links of the response is recommended.           ",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the entire list of positions of given invoice.",
            "schema": {
              "$ref": "#/definitions/InvoicePositions"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the invoice given by its number does not exist, the service endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/invoices/{company}/{customerNr}/{invoiceNr}/positions/{sequence}": {
      "get": {
        "tags": [ "invoices" ],
        "description": "Retrieves the representation of a list of positions for an invoice given by its number.",
        "operationId": "getInvoicePosition",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceNr",
            "in": "path",
            "description": "The number of the invoice.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sequence",
            "in": "path",
            "description": "The sequence number of the position in the invoice.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "orderNr",
            "in": "query",
            "description": "An order number of the invoice.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the entire list of positions of given invoice.",
            "schema": {
              "$ref": "#/definitions/InvoicePositions"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the invoice given by its number does not exist, the service endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/invoices/{company}/{customerNr}/positions": {
      "get": {
        "tags": [ "invoices" ],
        "description": "Retrieves the representation of a list of positions for a list of invoices given by their number.",
        "operationId": "getInvoiceListPositions",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g. 'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceNrs",
            "in": "query",
            "description": "A list of invoice numbers seperated by comma",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page to be retrieved, defaults to the first page. The page parameter should not be provided explicitly, but the usage of `next` and `prev` links of the response is recommended.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the entire list of positions of given invoice.",
            "schema": {
              "$ref": "#/definitions/InvoicePositions"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the invoices given by their number donot exist, the service endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/offers/{company}": {
      "post": {
        "tags": [ "offer" ],
        "description": "Creates an offer in the Ax ERP.",
        "operationId": "createOffer",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "in": "body",
            "name": "orderRequest",
            "description": "The request containing the shopping basket for which an offer is expected to be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "If provided shopping basket passes business validation rules and ERP ensures fulfillment the order based on basket, the response will be 200 (OK).",
            "schema": {
              "$ref": "#/definitions/OfferConfirmation"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/operatingunits/{company}/{operatingUnitNr}": {
      "get": {
        "tags": [ "operatingunit" ],
        "description": "Retrieves representation of a warehouse which is given by its id",
        "operationId": "getOperatingUnit",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "operatingUnitNr",
            "in": "path",
            "description": "Operating unit number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response returns the operation unit entity ",
            "schema": {
              "$ref": "#/definitions/OperatingUnit"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status and an ErrorInfo object. + If the request entity contained in message body violates any validation rule, the resulting status will also be 400 (Bad Request), but responds with a detailled description of violated rules instead of an ErrorInfo object.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    },
    "/release": {
      "get": {
        "tags": [ "util" ],
        "description": "Public endpoint returns release, build and version information of running service. This public endpoint is the only one, that is not protected any security measurement, and can therefore used as health-check by any monitoring application.",
        "operationId": "getReleaseInfo",
        "produces": [ "application/json" ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response provides release information.",
            "schema": {
              "$ref": "#/definitions/ReleaseInfo"
            }
          }
        }
      }
    },
    "/usedcreditlimit/{company}/{customerNr}": {
      "get": {
        "tags": [ "AnalyticalCard" ],
        "description": "Retrieves representation of a used credit card for a customer.",
        "operationId": "GetUsedCreditLimitOfCustomer",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "description": "The company to which the webshop belongs, e.g.'Derendinger-Switzerland'.",
            "required": true,
            "type": "string",
            "enum": [ "Derendinger-Switzerland", "Technomag-Switzerland", "Klaus-Switzerland", "Matik-Switzerland", "Walchli-Bollier-Bulach", "Matik-Austria", "Derendinger-Austria", "Remco-Belgium" ]
          },
          {
            "name": "customerNr",
            "in": "path",
            "description": "The number of the customer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "UsedCreditLimitPaymentMethod",
            "in": "query",
            "description": "The payment method, enum.",
            "required": true,
            "type": "string",
            "enum": [ "NONE", "Wholesale", "Cash Payment" ]
          }       
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the used credit limit of the customer results in an HTTP status of 200 (OK). ",
            "schema": {
              "$ref": "#/definitions/UsedCreditLimit"
            }
          },
          "400": {
            "description": "If the provided company name is invalid, the service responds with a 400 (Bad Request) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          },
          "404": {
            "description": "If the customer has no used credit limit or customer does not exist, endpoint responds with a 404 (Not Found) status.",
            "schema": {
              "$ref": "#/definitions/ErrorInfo"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LinkEntry": {
      "type": "object",
      "required": [ "href" ],
      "properties": {
        "href": {
          "type": "string",
          "description": "URL of link."
        }
      },
      "example": {
        "href": "href"
      }
    },
    "ReleaseInfo": {
      "type": "object",
      "required": [ "releaseBuild", "releaseDate", "releaseVersion" ],
      "properties": {
        "releaseBuild": {
          "type": "string",
          "description": "The build number of released service application."
        },
        "releaseVersion": {
          "type": "string",
          "description": "The version of released service application according to version control system."
        },
        "releaseDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the service application has been built and released."
        }
      },
      "example": {
        "releaseBuild": "releaseBuild",
        "releaseDate": "2000-01-23T04:56:07.000+00:00",
        "releaseVersion": "releaseVersion"
      }
    },
    "ErrorInfo": {
      "type": "object",
      "required": [ "errorMessage", "errorOrigin" ],
      "properties": {
        "errorOrigin": {
          "type": "string",
          "description": "The origin of the error.",
          "enum": [ "WEBSHOP_SERVICE", "ODATA_SERVICE", "CUSTOM_SERVICE", "AZURE_CLOUD", "OTHER" ]
        },
        "errorMessage": {
          "type": "string",
          "description": "Description of the error that occured."
        }
      }
    },
    "Customer": {
      "type": "object",
      "required": [ "_links", "nr" ],
      "properties": {
        "nr": {
          "type": "string",
          "description": "The number of the customer."
        },
        "name": {
          "type": "string",
          "description": "The name of the customer."
        },
        "vatNr": {
          "type": "string",
          "description": "Customer's value-added-tax number."
        },
        "defaultBranchId": {
          "type": "string",
          "description": "The default branch of the customer."
        },
        "comments": {
          "type": "string",
          "description": "Comments of customer."
        },
        "language": {
          "type": "string",
          "description": "ISO code of language, which is preferred by the customer. This language should be provided in subsequent request for this customer. The language is then expected to be provided in `Accept-Language` HTTP header."
        },
        "addressSalutation": {
          "type": "string",
          "description": "The personal title of a customer."
        },
        "blockedStatus": {
          "type": "string",
          "description": "Enumeration value of the blocking status of customer.",
          "enum": [ "NONE", "NEVER", "ALL", "PAYMENT", "PROCUREMENT", "INVOICE", "DELIVERY", "INVOICE_AND_DELIVERY" ]
        },
        "blockedReason": {
          "type": "string",
          "description": "Description of reason for blocked customer."
        },
        "currency": {
          "type": "string",
          "description": "ISO code of currency for invoicing the customer."
        },
        "sendMethod": {
          "type": "string",
          "description": "The `sendMethod` describes, how goods are usually delivered to the customer."
        },
        "paymentType": {
          "type": "string",
          "description": "The payment type of customer."
        },
        "invoiceType": {
          "type": "string",
          "description": "Short description of how the customer gets invoiced."
        },
        "invoiceTypeDesc": {
          "type": "string",
          "description": "Description of how the customer gets invoiced."
        },
        "alreadyUsedCredit": {
          "type": "number",
          "format": "double"
        },
        "availableCredit": {
          "type": "number",
          "format": "double"
        },
        "letterCode": {
          "type": "string",
          "description": "The letter code of the customer",
          "enum": [ "None", "CollectionLetter1", "CollectionLetter2", "CollectionLetter3", "CollectionLetter4" ]
        },
        "salesOrderPool": {
          "type": "string",
          "description": "SAG company field."
        },
        "salesGroup": {
          "type": "string",
          "description": "The Sales Group of the customer."
        },
        "costCenter": {
          "type": "string",
          "description": "The cost center which the customer belongs to."
        },
        "kuKa": {
          "type": "string",
          "description": "The category of the customer (under PKZ_BAUM hierarchy - KuKas_DD/ KuKas_MA)"
        },
        "salesRepPersonalNumber": {
          "type": "string",
          "description": "The Sales Rep’s Personal Number of the customer’s Sales Group."
        },
        "termOfPayment": {
          "type": "string",
          "description": "The payment terms for the customer."
        },
        "cashDiscount": {
          "type": "string",
          "description": "The cash discount for the customer."
        },
        "disposalNumber": {
          "type": "string",
          "description": "The customer with this disposer number doesn't pay for recycling fees for the recyclable articles."
        },
        "collaborationEDI": {
          "type": "boolean",
          "description": "Indicates the participation of the customer in the EDI."
        },
        "invoiceAccount": {
          "type": "string",
          "description": "The invoice account of the customer."
        },
        "gwsDupCustCompleteInvoicing": {
          "type": "boolean",
          "description": "Indicates whether the customer has complete invoicing"
        },
        "gwsInvoiceSumBy": {
          "type": "string",
          "description": "Indicates how the invoice is sum"
        },
        "sagGwsLimitedTimeDlvTermExpiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "The limited time delivery term expiry date"
        },
        "sagGwsPriceDiscDetailsForNetPricingPackingSlip": {
          "type": "boolean",
          "description": "Indicates if there are price discount details for net on pricing packing slip"
        },
        "sagGwsPrintPricesOnSalesPackingSlip": {
          "type": "boolean",
          "description": "Indicates whether the prices on sales are printed on packing slip"
        },
        "sagGwsExcludeFromShipmentConsolidation": {
          "type": "boolean",
          "description": "Indicates whether customer is excluded from shipment consolidation"
        },
        "sagGwsSuppressPrintOfRecommendedPrice": {
          "type": "boolean",
          "description": "Indicates whether there is suppress print of recommended price"
        },
        "sagPriceTypeSelectionEnabled": {
          "type": "string",
          "description": "Indicates whether price type selection is enabled"
        },
        "sagGwsPriceDiscDetailsForNetPricingCalcPricePresentation": {
          "type": "string",
          "description": "The price discount details for net pricing calculated in price presentaion"
        },
        "gwsInvoiceSortCode": {
          "type": "string",
          "description": "The invoice sort code"
        },
        "gwsDayPeriod": {
          "type": "string",
          "description": "The day period"
        },
        "custCollectionLetterCode": {
          "type": "string",
          "description": "The customer collection letter code"
        },
        "gwsInvoiceAdvancedSummarySetup": {
          "type": "string",
          "description": "The invoice advanced summary setup"
        },
        "contacts": {
          "type": "array",
          "description": "Contacts of customer.",
          "items": {
            "$ref": "#/definitions/ContactInfo"
          }
        },
        "_links": {
          "type": "object",
          "description": "Map of links, which makes URIs to other resources available through symbolic names. The following table lists possible mappings: +\n +\n **self (GET)**: The link to article representation itself. Following this link returns representation of very same article resource. +\n +\n **collection/addresses (GET)**: Following this link with a GET request, results in a list of all addresses of the customer. +\n +\n **collection/orders (GET, POST)**: Following this link with a GET request, results in a list of all orders of the customer. In order to create a new order, a POST request must be sent to this URI. +\n +\n **collection/prices (POST)**: Article prices for customer can be retrieved by submitting a POST request to this URI. The request message contains the list of articles, for which prices are required. +\n +\n **collection/availabilities (POST)**: Availability of articles for requesting customer can be retrieved by submitting a POST request to this URI. The request message contains the list of articles, for which article availabilities are required. +\n +\n **collection/invoices (GET)**: Following this link with a GET request, results in a list of the invoices of the customer. +   \n +\n **collection/creditlimit (GET)**: Following this link with a GET request, results in the credit limit info of the customer. +           ",
          "additionalProperties": {
            "$ref": "#/definitions/LinkEntry"
          }
        }
      },
      "example": {
        "sagGwsPriceDiscDetailsForNetPricingCalcPricePresentation": "sagGwsPriceDiscDetailsForNetPricingCalcPricePresentation",
        "blockedStatus": "NONE",
        "nr": "nr",
        "sagGwsLimitedTimeDlvTermExpiryDate": "2000-01-23T04:56:07.000+00:00",
        "_links": {
          "key": {
            "href": "href"
          }
        },
        "salesGroup": "salesGroup",
        "invoiceAccount": "invoiceAccount",
        "language": "language",
        "custCollectionLetterCode": "custCollectionLetterCode",
        "gwsInvoiceSumBy": "gwsInvoiceSumBy",
        "paymentType": "paymentType",
        "sendMethod": "sendMethod",
        "kuKa": "kuKa",
        "salesOrderPool": "salesOrderPool",
        "sagGwsPriceDiscDetailsForNetPricingPackingSlip": true,
        "invoiceTypeDesc": "invoiceTypeDesc",
        "collaborationEDI": true,
        "sagGwsSuppressPrintOfRecommendedPrice": true,
        "disposalNumber": "disposalNumber",
        "invoiceType": "invoiceType",
        "currency": "currency",
        "gwsDayPeriod": "gwsDayPeriod",
        "sagGwsExcludeFromShipmentConsolidation": true,
        "cashDiscount": "cashDiscount",
        "termOfPayment": "termOfPayment",
        "vatNr": "vatNr",
        "alreadyUsedCredit": 0.8008281904610115,
        "comments": "comments",
        "availableCredit": 6.027456183070403,
        "blockedReason": "blockedReason",
        "letterCode": "None",
        "costCenter": "costCenter",
        "defaultBranchId": "defaultBranchId",
        "addressSalutation": "addressSalutation",
        "gwsInvoiceAdvancedSummarySetup": "gwsInvoiceAdvancedSummarySetup",
        "sagGwsPrintPricesOnSalesPackingSlip": true,
        "salesRepPersonalNumber": "salesRepPersonalNumber",
        "gwsDupCustCompleteInvoicing": true,
        "name": "name",
        "gwsInvoiceSortCode": "gwsInvoiceSortCode",
        "sagPriceTypeSelectionEnabled": "sagPriceTypeSelectionEnabled",
        "contacts": [
          {
            "contactDescription": "contactDescription",
            "contactValue": "contactValue",
            "isPrimary": true,
            "contactType": "Phone"
          },
          {
            "contactDescription": "contactDescription",
            "contactValue": "contactValue",
            "isPrimary": true,
            "contactType": "Phone"
          }
        ]
      }
    },
    "ContactInfo": {
      "type": "object",
      "properties": {
        "contactValue": {
          "type": "string",
          "description": "Customer's contact info value"
        },
        "contactDescription": {
          "type": "string",
          "description": "Description of the customer's contact"
        },
        "contactType": {
          "type": "string",
          "description": "The type of the contact of the customer",
          "enum": [ "Phone", "Email", "URL", "Telex", "Fax" ]
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicator whether the contact is the primary one of the customer"
        }
      },
      "example": {
        "contactDescription": "contactDescription",
        "contactValue": "contactValue",
        "isPrimary": true,
        "contactType": "Phone"
      }
    },
    "Address": {
      "type": "object",
      "required": [ "_links", "id" ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the address. Although, identifiers usually not returned \"as is\" to calling Webshop application, this exceptional case is justified, because the\n 'address id' must be passed back with availability request."
        },
        "street": {
          "type": "string",
          "description": "Street of customer's address."
        },
        "streetNumber": {
          "type": "string",
          "description": "Street number of customer's address."
        },
        "postOfficeBox": {
          "type": "string"
        },
        "postCode": {
          "type": "string",
          "description": "Post code of address, AKA zip code."
        },
        "city": {
          "type": "string",
          "description": "City of address."
        },
        "countryCode": {
          "type": "string",
          "description": "ISO code of the country of the address."
        },
        "country": {
          "type": "string",
          "description": "Multi-language name of the country. Is this required???? Do webshop applications rather use countryCode and their own translations????"
        },
        "state": {
          "type": "string",
          "description": "???."
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicator for address being active.",
          "default": true
        },
        "primary": {
          "type": "boolean",
          "description": "Boolean indicator for primary address.",
          "default": false
        },
        "addressType": {
          "type": "string",
          "description": "Enumeration value for type (or role) of address. While one and the same address can appear in different roles, the type distinguish them.",
          "enum": [ "DELIVERY", "INVOICE", "DEFAULT" ]
        },
        "buildingCompliment": {
          "type": "string",
          "description": "Additional address related information on the address's building."
        },
        "description": {
          "type": "string",
          "description": "A dercription of the purpoce of the returned address.           "
        },
        "_links": {
          "type": "object",
          "description": "Map of links, which makes URIs to other resources available through symbolic names. The following table lists possible links: +\n +\n **self (GET)**: The link to address representation itself. Following this link returns representation of very same address resource. +\n +\n **next-tour (GET)**: Following this link, the next planned delivery tour to this address will be returned. Start date/time can be provided as query parameter, so that only tours departing from warehouse/distribution center after or equal that given start date/time will be considered. Current date/time will be used when query parameter is missing.",
          "additionalProperties": {
            "$ref": "#/definitions/LinkEntry"
          }
        }
      },
      "example": {
        "buildingCompliment": "buildingCompliment",
        "country": "country",
        "streetNumber": "streetNumber",
        "city": "city",
        "_links": {
          "key": {
            "href": "href"
          }
        },
        "addressType": "DELIVERY",
        "active": true,
        "description": "description",
[...]
